{% extends "base.html.jinja" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id='main-content'>
        <h2>Projects</h2>
        <ul>
            <li><a href="/roman-converter">Integers To Roman Converter</a></li>
            <li><a href="/magic-number">Magic Number Game</a></li>
        </ul>
    </div>
{% endblock %}